body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    
}

.start{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0 35px;
    
}

/*        HEADER SECTION                    */
ul{
    display: flex;
    gap:16px;
    margin-left: auto;
   list-style-type: none;
   
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    max-width: 100%; 
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 16px;
    margin: 0 15px;

}
.left{
    color: #F9FAF8;
    font-size: 24px;
  }
  

/*           HERO SECTION                                              */
.hero{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
    flex-wrap: wrap;
}


.main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    max-width: 600px;
    
}

.sub-text{
    font-size: 18px;
    color: #E5E7EB;
    
}

.content{
    margin-left: 20px;
}


.hero img{
    width: 100%;
    max-width: 300px;
    height: auto;
    overflow: hidden;
}

button{
    cursor: pointer;
    font-weight: 900;
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
  }

  
/*        Information Section                                      */

.container img {
    width: 300px;
    height: 250px;
    border: 2px solid #4A90E2; 
    border-radius: 10px; 
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    
}

.title{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 40px;
}

.information{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.info{
    max-width: 300px;
}

.text{
    color: #333;
}

/* feedback section */

.feedback{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;

    gap:40px;
    align-items: center;
    background-color: #E5E7EB;
    padding: 80px;
}

.feedback-text{
    font-size: 36px;
    font-style: italic;
    color: #495057;
    
}

.customer{
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-left: 20rem;
    min-width: 285px;
}

/* ADVISE SECTION */

.advice{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 10vh; 
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 80px;
    padding: 20px;
    gap:10px;
    max-width: 800px;
    margin-left: auto;              
    margin-right: auto;;
    background-color: royalblue;
}
.ad-title{
    color: #F9FAF8;
    font-weight: 800;
    font-size: 20px;
    
}

.ad-body{
    color: #E5E7EB;
    font-size: 15px;
}


.advice button{
    cursor: pointer;
    font-weight: 800;
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border:3px solid white;
    color: white;
}

/* Footer section */

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    height: 72px;
    background-color: #1F2937;
    font-size: 14px;
    color: #E5E7EB;
}

